nav{
    background-color: black;
}
#logo{
    background-color: black;
}
body{
    background-color: whitesmoke;
}
a{
    color:darkblue;
}
a:hover{
    color: darkmagenta;
}

#qualifications{
    background-color: #000;
    color: #FFFFFF;
}
#experiences{
    background-color: #FFFFFF;
    color: #000;

}
#projects{
    background-color: #000;
    color: #FFFFFF;
}
#skills{
    background-color: #000;
    color: #FFFFFF;
}
#hobbies{
    background-color:#FFFFFF;
    color: #000;
}
#contact{
    background-color: #000;
    color: #FFFFFF;
}
#photo{
    background-color: #FFFFFF;
}